<!-- FOR LOGGING IN -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../static/styles/business/business1.css">
  <title>FoodCloud</title>
</head>

<body id="login">
  <div id="splash">
    <!-- Image -->
    <div id="splash-left"></div>
    <!-- Login Form -->
    <div id="splash-right">
      <h2>Signup</h2>
      <h3>Please enter your email and password</h3>
      <form action="/login" method="POST">
        <input type="text" name="email" id="user" placeholder="Email" autocomplete="off" required>
        <input type="password" name="password" id="pass" placeholder="Password" autocomplete="off" required>
        <input type="submit" id="submit" value="Sign up">
      </form>
      <a href="/login">Or Login!</a>
    </div>
  </div>
</body>

</html>