<!-- FOR LOGGING IN -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../static/styles/business/business1.css">
  <title>FoodCloud - Business Login</title>
</head>

<body>
  <div id="splash">
    <!-- Image -->
    <div id="splash-left"></div>
    <!-- Login Form -->
    <div id="splash-right">
      <h2>Login</h2>
      <h3>Please enter your email and password</h3>
      <form action="/business" method="POST">
        <input type="email" name="email" placeholder="Email" autocomplete="off" required>
        <input type="password" name="password" placeholder="Password" autocomplete="off" required>
        <input type="submit" id="submit" value="Log In">
      </form>
      <a href="/signup">Or sign up!</a>
    </div>
  </div>
</body>

</html>