<!-- <form class="box" action="/login" method="POST">
  <h1>Sign Up</h1>
  <input type=" text" name="email" id="user" placeholder="Username" autocomplete="off">
  <input type="password" name="password" id="pass" placeholder="Password" autocomplete="off">
  <input type="submit" id="submit" value="Sign Up">
</form>

<div id="splash">
  <div id="splash-left"></div>
  <div id="splash-right"></div>
</div> -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../static/styles/business/business1.css">
  <title>FoodCloud</title>
</head>

<body>
  <div id="splash">
    <div id="splash-left">image</div>
    <div id="splash-right">login</div>
  </div>
</body>

</html>