<!-- ABOUT US -->
<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="{{ url_for('static',filename='resources/favicon.png') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Food Cloud - insert text</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/styles/about.css">
</head>

<body>
  <h1> About Section</h1>
  <h2>Food Cloud
    Curbing food waste for a sustainable future</h2>>
    <h3>Inspiration</h3>
    <h4>The awareness vertical - Every year food companies throw away an excess amount of food. 
      According to the Food and Agriculture Organization of the United Nations, “roughly one-third of the food produced in the 
      world for human consumption every year — approximately 1.3 billion tonnes — gets lost or wasted.”</h4>
    <h3>What it does</h3>
    <h4>With this in mind, we brainstormed a way for food companies and restaurants to make use of the extra amount 
      of food produced. With the two day time constraints and team skills, we decided to make a web application for a 
      normal consumer to buy excess food based on the desired location radius. The business would signup and login to post food. 
      The consumer would be able to buy discounted food from the post.</h4>
    <h3>How we built it</h3>
    <h4>For our project, we built our web pages using HTML, CSS, and JavaScript. Our choice of database was Firebase,
       and we used it with flask as our framework. Our backend was created using Flask and Python.</h4>
    <h3>Challenges we ran into</h3>
    <h4>A challenge was using Flask with Firebase. The documentation was skewed to a pure Python solution with python-admin. 
      Time should have been used to pyrebase, a python wrapper for the Firebase API. Another challenge was developing for the real-time
       database section for Firebase. We opted for Firestore instead.</h4>
    <h3>Accomplishments that we're proud of</h3>
    <h4>We are proud of the idea and the application made. We did code it completely on scratch and used productively utilize 
      agile methodologies. The idea is very unique and we hope to be able to spread awareness of saving food waste with this application.</h4>
    <h3>What we learned</h3>
    <h4>Everyone learned different things throughout this project. However, after discussing and solving our problems, we have all 
      gained a better understanding of the full stack environment. We have also all learned how to use firebase for web applications alongside Flask.</h4>
    <h3>What's next for FoodCloud</h3>
    <h4>The next steps for FoodCloud would be having better design or identity. Projects should have consistency with the design 
      as noted by the Scott Forstall, creator of IOS. Another must-have feature is having a better schema with the user/business Firebase database.</h4>
    <h3>Built With</h3>
    <h4>Firebase
    Flask
    Python
    JavaScript
    CSS
    HTML</h4>
    
    
  </h4>
</body>

</html>