<!-- ABOUT US -->
<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="{{ url_for('static',filename='resources/favicon.png') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Food Cloud - insert text</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <p> About Section</p>
  <p>FoodCloud is about reducing the food waste produced in the world. Everyday, stores are forced to throw away products they could not sell that day. In order to 
    reduce the amount of waste, FoodCloud comes into play. By acting as a medium to connect stores with customers, we allow users within a certain radius to be informed
    of which stores are currently having a discount before closing hours so the food does not go to waste. 
  </p>
</body>

</html>