<!-- For the customer view (talked during mockup) -->
<!DOCTYPE html>
<html>

<head>
  <!-- <link rel="icon" href="{{ url_for('static',filename='resources/favicon.png') }}"> -->
  <link rel="icon" href="../static/resources/favicon.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Food Cloud - Customer View</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="{{ url_for('static',filename='styles/buyer.css') }}"> -->
  <link rel="stylesheet" href="../static/styles/customer-view.css">
</head>

<!-- <body>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../static/resources/homepage.jpg" alt="Card image cap">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Food Title</li>
      <li class="list-group-item">$Price</li>
      <li class="list-group-item">Description</li>
    </ul>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/customer-view.css') }}">
  <link rel="stylesheet" href="../static/styles/customer-view.css">
</head> -->

<body>
  <h1>Food in your area...</h1>

  <div id="customer-view">
    {% for food in foodlst %}
    <div class="food-container card" style="width: 18rem;">
      <img class="card-img-top" src="../static/resources/plant.png" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Company Name: {{ food['name'] }}</li>
        <li class="list-group-item">Zip Code: {{ food['zipcode'] }}</li>
        <li class="list-group-item">Food Name: {{ food['foodname'] }}</li>
        <li class="list-group-item">Price: {{ food['price'] }}</li>
        <li class="list-group-item">Description: {{ food['description'] }}</li>
      </ul>
    </div>
    {% endfor %}

    <!-- IMPORTANT: For Tina and Pierce -->

    <!-- For Loop Here: Loop through the array passed from Flask with Jinja2 -->

    <!-- <div class="card-deck"> -->
    <!-- Object 1 -->
    <!-- <div class="food-container card" style="width: 18rem;">
      <img class="card-img-top" src="../static/resources/taco.png" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Name (Object1[0])</li>
        <li class="list-group-item">Price (Object[1])</li>
        <li class="list-group-item">Description (Object[2])</li>
      </ul>
    </div> -->

    <!-- Object 2 (Different Values) -->
    <!-- <div class="food-container card" style="width: 18rem;">
      <img class="card-img-top" src="../static/resources/taco.png" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Food (Object2[0])</li>
        <li class="list-group-item">Price (Object2[1])</li>
        <li class="list-group-item">Description (Object2[2])</li>
      </ul>
    </div> -->

    <!-- Object 2 (Different Values) -->
    <!-- <div class="food-container card" style="width: 18rem;">
      <img class="card-img-top" src="../static/resources/taco.png" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Food (Object2[0])</li>
        <li class="list-group-item">Price (Object2[1])</li>
        <li class="list-group-item">Description (Object2[2])</li>
      </ul> -->
    <!-- </div> -->
    <!-- </div> -->

    <!-- <div class="card-deck"> -->
    <!-- Object 2 (Different Values) -->
    <!-- <div class="food-container card" style="width: 18rem;">
      <img class="card-img-top" src="../static/resources/taco.png" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Food (Object2[0])</li>
        <li class="list-group-item">Price (Object2[1])</li>
        <li class="list-group-item">Description (Object2[2])</li>
      </ul>
    </div> -->



    <!-- Object 2 (Different Values) -->
    <!-- <div class="food-container card" style="width: 18rem;">
      <img class="card-img-top" src="../static/resources/taco.png" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Food (Object2[0])</li>
        <li class="list-group-item">Price (Object2[1])</li>
        <li class="list-group-item">Description (Object2[2])</li>
      </ul>
    </div> -->

    <!-- Object 2 (Different Values) -->
    <!-- <div class="food-container card" style="width: 18rem;">
      <img class="card-img-top" src="../static/resources/taco.png" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Food (Object2[0])</li>
        <li class="list-group-item">Price (Object2[1])</li>
        <li class="list-group-item">Description (Object2[2])</li>
      </ul>
    </div> -->
    <!-- </div> -->

  </div>
</body>

</html>