<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food Cloud - insert text</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="../css/master.css">
</head>

<body>
    Zipcode:
        <input type="text" name="zipcode" value="" maxlength="5" /> 
    Radius:
        <input type="number" name="radius" value="" />
        <input type="submit" value="Find" />

</body>

</html>