<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FoodCloud | Solution to Reducing Food Waste</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/landing.css') }}">
  <link rel="icon" href="{{ url_for('static',filename='resources/favicon.png') }}">
</head>

<body>

  <div id="landing">
    <!-- Navbar -->
    <div id="navbar">
      <div id="navbar-brand">
        <img src="{{ url_for('static',filename='resources/favicon.png') }}" alt="FoodCloud Logo">
        <span>FoodCloud</span>
      </div>
      <div id="navbar-links">
        <a href="/about">About</a>
        <a href="/faq">FAQ</a>
      </div>
    </div>

    <!-- Main -->
    <main>
      <div>
        <h1>FoodCloud</h1>
        <h2>A web application solution to reducing food waste</h2>
        <a href="/start">Next Step</a>
      </div>
    </main>
  </div>
</body>

</html>