<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Food Cloud - insert text</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/master.css">
  <link rel="icon" href="../resources/favicon.jpg">
</head>

<body>
  <div id="landing-page" class="container">
    <!-- TODO: Make the landing page presentable -->
    <h1>Food Cloud</h1>
    <h3>Substainable food of the future</h3>
    <button id="start" type="button" class="btn btn-secondary">Get Started</button>
  </div>



</body>

</html>