<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Food Cloud - insert text</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/landing.css">
  <link rel="icon" href="../resources/favicon.jpg">
</head>

<body>

  <div id="landing">

    <!-- Navbar -->
    <div id="navbar">
      <div id="navbar-brand">
        <p>Food Cloud</p>
      </div>
      <div id="navbar-links">
        <a href="#">About</a>
        <a href="#">FAQ</a>
      </div>
    </div>

    <!-- Main -->
    <main>
      <p>main</p>
    </main>

  </div>

</body>

</html>