<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="../resources/favicon.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Food Cloud - insert text</title>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/seller.css">
    </head>
    <body>
        <h1>WHAT KINDA GOODS U SELLING BRUHV</h1>
        <div class="seller-container">
            <div class="seller-row">
                <div class="seller shadow-large">
                    <div class="seller-image">
                        <img src="../resources/homepage.jpg" alt="sup" height="300px" width="300px">
                    </div>

                    <div class="seller-info">
                        <h3> DA GOODS(Title)</h3>
                        <h4> $600000 DOLLAS</h4>
                        <p>Lorem ipsum dolor sit amet, wisi sententiae incorrupte id vix, ut nam quis vero voluptatum. No numquam fabellas est, purto saepe qui ut. Vim ne clita dicant insolens. An illud impedit invidunt eos. Brute persequeris at pri.
                                Ex vim facer eligendi omittantur, ex ius tota ipsum facete.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>