<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="{{ url_for('static',filename='resources/favicon.png') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Food Cloud - insert text</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/seller.css') }}">
</head>

<body>

  <h1>WHAT KINDA GOODS U SELLING BRUHV</h1>
  <div class="seller-container">
    <div class="seller-row">

      <div class="seller item shadow-large">

        <!-- Image -->
        <div class="seller-image">
          <!-- <input type="file" name="item-picture" value="Hi..."> -->
          <!-- <input type="file" id="files" class="hidden" />
          <label for="files">Select file</label> -->
          <div class="file btn btn-lg btn-primary">
            Upload
            <input type="file" name="file" />
          </div>

          <!-- <img src="{{ url_for('static',filename='resources/homepage.jpg') }}" alt="sup" height="300px" width="300px"> -->
        </div>

        <!-- Right Side -->
        <div class="seller-info">
          <h3> DA GOODS(Title)</h3>
          <h4> $600000 DOLLAS</h4>
          <p>Lorem ipsum dolor sit amet, wisi sententiae incorrupte id vix, ut nam quis vero voluptatum. No numquam
            fabellas est, purto saepe qui ut. Vim ne clita dicant insolens. An illud impedit invidunt eos. Brute
            persequeris at pri.
            Ex vim facer eligendi omittantur, ex ius tota ipsum facete.</p>
        </div>
      </div>
    </div>
  </div>


  <div id="seller">
    <h1>Buyer's Section</h1>
    <div id="add-items">
      <input type="file" name="item-picture">
      <input type="text" name="item-name">
      <input type="text" name="item-price">
      <input type="text" name="item-description">
    </div>
    <div id="view-items"></div>
  </div>
</body>

</html>