<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="{{ url_for('static',filename='resources/favicon.png') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Food Cloud - insert text</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="{{ url_for('static',filename='styles/seller.css') }}"> -->
  <!-- <link rel="stylesheet" href="{{ url_for('static',filename='styles/form.css') }}"> -->
  <link rel="stylesheet" href="../static/styles/test.css"
</head>

<body>

  <!-- <input type="file"> -->
  <!-- <label class="custom-file" for="Image">Select file to upload</label> -->

  <!-- <label class="file">
    <input type="file" id="file" aria-label="File browser example">
    <span class="file-custom"></span>
  </label> -->

  <!-- <div id="seller">
    <h2>Buyer's Section</h2>

    <div id="upload-section">
      <h2>Upload Section</h2>
      <form id="add-items">
        <div id="add-items-left">
          <input type="text" name="item-picture">
        </div>
        <div id="add-items-right">
          <label for="item-name">Name:</label>
          <input type="text" name="item-name">
          <label for="item-price">Price:</label>
          <input type="text" name="item-price">
          <label for="item-description">Description:</label>
          <input type="text" name="item-description">
          <input type="submit" name="item-submit">
        </div>
      </form>
      <div id="view-items"></div>
    </div>

     Jinja2:: If item is posted, show this part -->
    <!-- <div id="view-section">

    </div>
  </div> -->

  <!-- 2 textfields -->

  <div class="info-row">
    <h1>Company</h1>
    <input type="text" name="company-name" autocomplete="off">
    <h1>Zipcode</h1>
    <input type="text" name="zipcode" autocomplete="off">
  </div>



  <!-- 2x3 table -->

  <div class="grid-table">
    <h1>Name</h1>
    <input type="text" name="name1" autocomplete="off">
    <input type="text" name="name2" autocomplete="off">
    <h1>Price</h1>
    <input type="text" name="price1" autocomplete="off">
    <input type="text" name="price2" autocomplete="off">
    <h1>Description</h1>
    <input type="text" name="description1" autocomplete="off">
    <input type="text" name="description2" autocomplete="off">
  </div>
</body>

</html>