<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food Cloud - insert text</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="../css/master.css">
</head>

<body>
    <p>I'm a ...</p>
    <button id="customer" type="button">
        <a href="/customer">Customer</a>
    </button>
    <button id="business" type="button">
        <a href="/business">Business</a>
    </button>
</body>

</html>