<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="{{ url_for('static',filename='resources/favicon.png') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Food Cloud - insert text</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/start.css') }}">
</head>

<body>

  <div id="start">
    <h1>I am a ...</h1>
    <div class="container">
      <a class="selection customer" href="/customer">
        <img src="{{ url_for('static', filename='resources/start-customer.png') }}" alt="Customer Image">
        <p>Customer</p>
      </a>
      <p><b>OR</b></p>
      <a class="selection business" href="/signup">
        <img src="{{ url_for('static', filename='resources/start-business.png') }}" alt="Business Owner Image">
        <p>Business Owner</p>
      </a>
    </div>
  </div>

</body>

</html>