<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="../resources/logo.jpg">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Food Cloud - insert text</title>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/start.css">
    </head>
    <body>
        <div>
            <h1>Are you a..?</h1>
            <div class="dim-button"></div>
            <button>Buyer</button>
            <div class="line-width"><div class="line"></div></div>
            <button>Seller</button>
        </div>
    </body>
</html>