<!-- For the viewing stores(companies) -->
<!DOCTYPE html>
<html>

<head>
  <!-- <link rel="icon" href="{{ url_for('static',filename='resources/favicon.png') }}"> -->
  <link rel="icon" href="../static/resources/favicon.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Food Cloud - Store View</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="{{ url_for('static',filename='styles/buyer.css') }}"> -->
  <link rel="stylesheet" href="../static/styles/buyer.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">Company</div>
            <div class="col">xxx miles</div>
</body>

</html>