<!-- ABOUT US -->
<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="{{ url_for('static',filename='resources/favicon.png') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Food Cloud - Success</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/styles/success.css">
</head>

<body>
  <h1>Success</h1>

  <p>Success! Added to database! Customers will contact you shortly</p>

</body>

</html>