/* #landing-page {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 100px;
  margin-bottom: 150px;
}

h3 {
  text-align: center;
  font-size: 25px;
  padding-bottom: 150px;
}

#start {
  border-radius: 10px;
  height: 50px;
  font-size: 18px;
  width: 200px;
}

body {
  overflow: hidden;
  background: url(../resources/homepage.jpg);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

/* Reset */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #eeeff0;
  padding: 20px;
}

p {
  margin: 0px;
}

/* Base */
#landing {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

#navbar {
  /* background-color: rgba(0, 71, 104, 0.3); */
  /* border: 5px dashed rgba(10, 10, 10, 0.3); */
  display: flex;
    align-items: center;
    justify-content: space-between;
  padding: 0 2%;
  height: 64px;
}



main {
  /* background-color: rgba(158, 0, 0, 0.3); */

  height: calc(100% - 64px);
  display: flex;
    align-items: center;
    justify-content: center;
}

main div {
  width: 400px;
  display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
  text-align: center;
}

main h1 {
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 20px;
}

main h2 {
  margin-bottom: 20px;
}

main button {
  background-color: #199dff;
  border: none;
  border-radius: 50px;
  box-shadow: 0 30px 40px 0 rgba(25, 157, 255, 0.1);
  height: 45px;
  width: 200px;
}

main a {
  color: #ffffff;
}