// =========================================
//  Master
// =========================================


// Imports ------------------------------- /
@import 'reset', 
        'navbar',
        'main',
        'footer';



html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-family: 'Segoe UI';
  font-size: 12px;
  min-width: 200px;
}

.container {
  background-color: rgba(185, 193, 66, 0.25);
  border: 2px dashed rgba(185, 193, 66, 0.25);
  margin: 0 7%;
  height: 100%;
}