body {
    overflow: hidden;
    background: url(../resources/homepage.jpg);
      background-size: cover;
      background-position: 100% 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
}

h1 { 
    text-align: center;
    padding-top: 50px;
}

h4 { 
    padding: 60px 120px;
}