body {
    overflow: hidden;
    background: url(../resources/homepage.jpg);
      background-size: cover;
      background-position: 100% 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;

      position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    text-align: center;
}

h1 {
    text-align: center;
    padding-bottom: 50px;
}

p {
    text-align: center;
}